@font-face {
    font-family: "Stapel";
    src: url('../fonts/Stapel_Regular.otf');
}

* {
    font-family: "Stapel";
}
body {
    overflow-y: overlay;
}
/* Header  */
.header {
    width: 100%;
    padding: 23px 80px;
    border-bottom: 1px solid #BFBFBF;
}

.header__div1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 298px;
    height: 45px;
    background: rgba(255, 105, 0, 1);
    opacity: 1;
    overflow: hidden;
}

.header__delivery {
    font-size: 18px;
    color: #000;
    max-width: 188px;
}

.header__delivery>span {
    color: #FF6900;
}

.header__phone>a {
    font-size: 18px;
    color: #000;
    margin: 0;
    text-decoration: none;
}
.header__phone>a:hover {
    color: #000;
}
.header__phone>p {
    margin: 0;
    font-size: 14px;
    color: #999999;
}
.cart__section {
    padding-top: 90px;
    justify-content: center;
    display: flex;
}
.cart__parent {
    width: 625px;
}
.cart__text {
    font-size: 36px;
    margin-bottom: 43.5px;
}
.cart__items {
    border-top: 1px solid #F3F3F7;
}
.cart__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F3F3F7;
    padding: 15px 0 20.5px;
}
.cart__item-start {
    display: flex;
}
.cart__item-img {
    width: 61px;
    height: 61px;
}
.cart__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 11px;
}
.cart__item-name {
    font-size: 18px;
}
.cart__item-about {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}
.cart__item-end {
    display: flex;
    align-items: center;
}
.cart__item-counter {
    min-width: 96px;
    height: 32px;
    display: grid;
    background: #F3F3F7;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    grid-template-columns: 1fr 2fr 1fr;
}
.cart__item-decrease, .cart__item-increase {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart__item-decrease:hover, .cart__item-increase:hover {
    cursor: pointer;
}
.cart__item-price {
    margin-left: 24px;
    margin-right: 40px;
}
.cart__item-trash:hover {
    cursor: pointer;
}
.cart__total-sum {
    margin-top: 53.5px;
    margin-bottom: 40px;
    text-align: right;
    font-size: 24px;
}
.cart__total-sum > span {
    color: #FF6900;
}
.cart__btm-tns {
    display: flex;
    justify-content: space-between;
}
.cart__to-menu-btn {
    width: 200px;
    background: #F3F3F7;
    color: #000000;
}
.cart__to-checkout-btn {
    width: 187px;
    color: #FFFFFF;
    background: #FF6900;
}
.cart__to-menu-btn, .cart__to-checkout-btn {
    border: none;
    border-radius: 10px;
    font-weight: 400;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    
} 
.cart__to-checkout-btn:hover {
    color: #FFFFFF;
    cursor: pointer;
} 
.cart__to-menu-btn:hover {
    cursor: pointer;
    color: #000000;
}
.cart__to-menu-btn > img {
    margin-right: 14px;
}
.cart__to-checkout-btn > img {
    margin-left: 14px;
}

/* Phone modal */
.cartPhoneModalParent {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.cart-phone__backdrop {
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 101;
}
.cart-phone__modal-top-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-phone__modal-dialog {
    background: #FFFFFF;
    width: 660px;
    height: 360px;
    border-radius: 20px;
    padding: 36px 50px 37px;
    position: relative;
    z-index: 102;
}
.cart-modal__close-div {
    width: 48px;
    border-radius: 50%;
    box-shadow: 0 0 11px rgb(6 5 50 / 12%);
    position: absolute;
    right: 20px;
    top: 20px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.cart-modal__close-div:hover {
    cursor: pointer;
}

.cart-modal__close-img {
    width: 18px;
    height: 18px;
}
.cart-phone__modal-body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cart-phone__modal-header {
    font-size: 36px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 39px;
}
.cart-phone__modal-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-phone__modal-inpf {
    display: flex;
    align-items: center;
}
.cart-phone__modal-numtext {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin-right: 20px;
    margin-bottom: 0;
}
.cart-phone__modal-inpd {
    height: 40px;
    width: 319px;
}
.cart-phone__modal-input {
    border: 1px solid #FF6900 !important;;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 9px 14px 8px;
    font-size: 18px;
    font-weight: 400;
}
.cart-phone__modal-input:focus {
    outline: none;
}
.cart-phone__modal-typed {
    display: none;
    /* display: flex; */
    align-items: center;
    background: #F3F3F7;
    width: 100%;
    height: 100%;
    padding: 9px 14px 8px;
    border-radius: 10px;
}
.cart-phone__modal-typedtext {
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
}
.cart-phone__modal-change {
    color: #FF6900;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
}
.cart-phone__modal-change:hover {
    cursor: pointer;
}

.cart-phone__modal-code {
    display: none;
    /* display: flex; */
    margin-top: 32px;
}
.cart-phone__modal-ctext {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.cart-phone__modal-cdiv {
    display: flex;
    max-width: 319px;
    margin-left: 61px;
    align-items: center;
}
.cart-phone__modal-cinput {
    width: 91px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #FF6900;
    padding: 9px 20px 8px;
    font-weight: 400;
    font-size: 18px;
}
.cart-phone__modal-cresend {
    font-size: 12px;
    margin: 0 0 0 20px;
    color: #6F6E6F;
    text-decoration: underline;
}

.cart-phone__modal-cinput:focus {
    outline: none;
}

.cart-phone__modal-cinput::-webkit-inner-spin-button,
.cart-phone__modal-cinput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.cart-phone__modal-btm {
    display: flex;
    align-items: center;
    margin-top: auto;
}
.cart-phone__modal-send {
    width: 134px;
    height: 46px;
    border: none;
    border-radius: 10px;
    background: #FF6900;
    color: #FFFFFF;
    margin-right: 20px;
    font-weight: 400;
}
.cart-phone__modal-offer {
    color: #6F6E6F;
    max-width: 225px;
    font-size: 12px;
    margin: 0;
}
.cart-phone__modal-offer > a {
    color: #6F6E6F;
}