@font-face {
    font-family: "Stapel";
    src: url('../fonts/Stapel_Regular.otf');
}

* {
    font-family: "Stapel";
}
body {
    /* overflow-x: hidden;
    width: 100vw; */
    overflow-y: overlay;
}

/* Header  */
.header {
    width: 100%;
    padding: 0 80px;
}

.header__div1 {
    width: 100%;
    height: 76px;
    padding: 23px 0 7px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: auto;
    height: auto;
}

.header__delivery {
    font-size: 18px;
    color: #000;
    max-width: 188px;
}

.header__delivery>span {
    color: #FF6900;
}

.header__phone>a {
    font-size: 18px;
    color: #000;
    margin: 0;
    text-decoration: none;
}
.header__phone>a:hover {
    color: #000;
}
.header__phone>p {
    margin: 0;
    font-size: 14px;
    color: #999999;
}

.header__div2 {
    height: 58px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    position: sticky;
    background: #fff;
    top: 0;
    left: 0;
    transition: 300ms ease;
    z-index: 98;
}

.header__div2-categories {
    display: flex;
}

.header__div2-categories p {
    margin-right: 18px;
    margin-bottom: 0;
}

.header__cart--btn {
    background: #FF6900;
    height: 40px;
    width: 116px;
    border-radius: 10px;
    color: #fff;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__cart--btn:hover {
    color: #fff;
}

/* Slider  */
.slider {
    overflow: hidden;
}

.slider__each {
    border-radius: 20px;
    overflow: hidden;
    max-height: 373px;
    height: 373px !important;
    max-width: 90%;
    margin: 9px 12px 0;
}

.slider__each>img {
    width: 100%;
    height: 100%;
    max-height: inherit;
}

.slider .slick-dots {
    bottom: 12px;
}

.slider .slick-dots li button:before {
    font-size: 15px;
    color: #C4C4C4;
    opacity: 1;
}

.slider .slick-dots li.slick-active button:before {
    color: #FF6900;
}

/* Section goods */
.food__section {
    padding: 47px 80px;
}

.food__section-header {
    font-size: 36px;
    margin-bottom: 29px;
}

.food__col {
    margin-bottom: 29px;
}

.food__card {
    border: none !important;
}
.food__card-img {
    max-width: 298px;
    margin: 0 auto;
}
.food__img {
    width: 100%;
}

.food__info-body {
    padding: 7px 0 0 !important;
}

.food__price-body {
    padding: 25px 0 0 !important;
}

.food__title {
    font-size: 24px;
    margin-bottom: 6px;
}

.food__text {
    font-size: 14px;
}

.food__price-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food__price {
    font-size: 24px;
}

.food__choose {
    width: 117px;
    height: 40px;
    background: #FFF0E5;
    color: #C75200;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}

/* Drink section */
.drink__section {
    padding: 47px 80px;
    background: #F9F9FB;
}

.drink__section-header {
    font-size: 36px;
    margin-bottom: 29px;
}

.drink__col {
    margin-bottom: 29px;
}

.drink__card {
    border: none !important;
}
.drink__card-img {
    max-width: 298px;
    /* margin: 0 auto; */
}

.drink__img {
    width: 100%;
}

.drink__info-body {
    background: #F9F9FB;
    padding: 7px 0 0 !important;
}

.drink__price-body {
    background: #F9F9FB;
    padding: 25px 0 0 !important;
}

.drink__title {
    font-size: 24px;
    margin-bottom: 6px;
}

.drink__text {
    font-size: 14px;
}

.drink__price-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drink__price {
    font-size: 24px;
}

.drink__choose {
    width: 117px;
    height: 40px;
    background: #FFF0E5;
    color: #C75200;
    font-size: 14px;
    border-radius: 10px;
    border: none;
}

/* Order section */
.order__section {
    background: radial-gradient(90.97% 891.49% at 0% 95.76%, #FE9E02 0%, rgba(254, 158, 2, 0) 100%),
        linear-gradient(0deg, #FF6900, #FF6900);
    padding: 90px 0;
    display: flex;
    justify-content: center;
}

.order__top-div {
    text-align: center;
    max-width: 520px;
}

.order__title {
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 400;
}

.order__leave-phone {
    margin-top: 38px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
}

.order__phone-div {
    display: flex;
    justify-content: space-between;
}

.order__phone-child-div {
    width: 378px;
    position: relative;
}

.order__phone-code {
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
    top: 10px;
    left: 14px;
}

.order__phone-input {
    width: inherit;
    border-radius: 10px;
    background: transparent;
    height: 46px;
    border: 2px solid #FFF;
    padding-left: 66px;
    color: #FFFFFF;
    font-size: 18px;
}

.order__phone-input:focus {
    outline: none;
}

.order__phone-input::-webkit-inner-spin-button,
.order__phone-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.order__phone-send {
    width: 122px;
    height: inherit;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    color: #C75200;
}

.order__phone {
    margin-top: 38px;
    color: #FFFFFF;
    font-weight: 400;
}

.order__phone>a {
    color: #FFFFFF;
}
.order__phone>a:hover {
    color: #FFFFFF;
}
/* Privileges seciton */
.privileges__section {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.privileges__top-div {
    max-width: 625px;
    text-align: center;
}

.privileges__top-title {
    margin-bottom: 29px;
}

.privileges__each-div {
    display: flex;
    justify-content: space-between;
}

.privileges__number-div {
    width: 89px;
}

.privileges__number {
    width: 47px;
    height: 47px;
    min-width: 47px;
    border-radius: 50%;
    border: 2px solid #FF6900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF6900;
    font-size: 24px;
}

.privileges__info {
    text-align: left;
    max-width: 536px;
}

.privileges__title {
    font-size: 24px;
    margin-bottom: 6px;
}

.privileges__about {
    font-size: 14px;
    margin-bottom: 29px;
}

/* Footer */
.footer {
    background: #000000;
    padding: 95px 80px;
}

.footer__social-div {
    display: flex;
    margin-top: 24px;
    margin-bottom: 25px;
}

.footer__social-span {
    padding: 10px;
    background: #4D4D4D;
    border-radius: 10px;
    margin-right: 10px;
}

.footer__social-span:hover {
    cursor: pointer;
}

.footer__social-brand {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 12px;
}

.footer__social-brand>img {
    margin-right: 5px;
}

.footer__good-div p,
.footer__contact-div p,
.footer__faq-div p {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.footer__contact-div a {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 18px;
    text-decoration: none;
}
.footer__contact-div a:hover {
    color: #FFFFFF;
}

.footer__good-div>p:nth-child(1),
.footer__contact-div>p:nth-child(1),
.footer__faq-div>p:nth-child(1) {
    color: #4D4D4D;
}

/* Modal */
.goodModalParent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99;
}

.good__backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 100;
}

.modal__close-div {
    width: 48px;
    border-radius: 50%;
    box-shadow: 0 0 11px rgb(6 5 50 / 12%);
    position: absolute;
    right: 20px;
    top: 20px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal__close-div:hover {
    cursor: pointer;
}

.modal__close-img {
    width: 18px;
    height: 18px;
}

.modal-content {
    border-radius: 20px !important;
}

.good__modal-top-div {
    display: flex;
    align-items: center;
    height: 100%;
}

.good__modal-dialog {
    max-width: 90% !important;
}

.good__modal-content {
    width: 902px !important;
    height: 596px;
    border: 0 !important;
    z-index: 101;
}

.good__modal-body {
    padding: 28px 29px 29px !important;
}

.good__modal-row {
    height: 100%;
}

.good__modal-imgd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.good__modal-imgd>img {
    width: 100%;
}

.good__modal-infod {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.good__modal-about-type {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.good__modal-about-size {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
}

.good__modal-about-text {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 400;
}

.good__modal-types {
    background: #F3F3F7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-radius: 10px;
    padding: 2px;
}

.good__modal-types>div {
    padding-right: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.good__modal-types>div:hover {
    cursor: pointer;
}

.good__modal-buy-btn {
    width: 100%;
    height: 46px;
    border-radius: 10px;
    margin-top: 22px;
    background: #FF6900;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    font-weight: 400;
}

/* Phone modal */
.phoneModalParent {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.phone__backdrop {
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 101;
}
.phone__modal-top-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone__modal-dialog {
    background: #FFFFFF;
    width: 660px;
    height: 360px;
    border-radius: 20px;
    padding: 36px 50px 37px;
    position: relative;
    z-index: 102;
}

/***********************************/
.choosenGoodType {
    background: #FFFFFF;
    border-radius: 10px;
    transition: 300ms ease-in-out;
}


/* Mobile */
.mobile__header {
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 102;
    padding-left: 14px;
    padding-right: 16px;
    background: #FFFFFF;
}
.mobile__header-logo {
    width: 88px;
    height: 32px;
    background: lightgrey;
}
.mobile__header-menu {
    display: flex;
    align-items: center;
}
.mobile__header-phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 23px;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 400;
}
.mobile__header-phone > span {
    font-size: 10px;
}
.mobile__header-phone > a {
    font-size: 14px;
    color: #FF6900;
    text-decoration: none;
}
.mobile__header-phone > a:hover {
    color: #FF6900;
}
.mobile__food-categories {
    display: none;
    margin-bottom: 14px;
}
.mob__pizza-categ, .mob__drink-categ {
    border-radius: 10px;
    padding: 7px 14px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
    background: #F3F3F7;
    border: none;
}
.mob__categories-active {
    background: #FFF0E5 !important;
    color: #C75200 !important;
}

.mobile__food-choose {
    display: none;
    margin-top: 10px;
}
.mobile__food-choose-btn {
    width: 85px;
    height: 32px;
    background: #FFF0E5;
    color: #C75200;
    font-size: 12px;
    border-radius: 10px;
    border: none;
}
.drink__price-body {
    
}
.mobile__drink-choose {
    display: none;
}

@media (max-width: 600px) {
    .header, .header__div2 {
        display: none;
    }
    .slider {
        margin-bottom: 0 !important;
    }
    .slider__each {
        max-height: 120px;
        height: 120px !important;
        max-width: 80%;
        margin-right: 5px;
        margin-left: 5px;
    }
    .slider .slick-track {
        padding-left: 44px;
    }
    .mobile__food-categories {
        display: block;
    }

    /* FOOD SECTION  */
    
    .food__section {
        padding: 14px 16px 0;
    }
    .food__section-header {
        display: none;
    }
    .food__col {
        flex: 0 0 auto;
        width: 100% !important;
        margin-bottom: 16px;
    }
    .food__card {
        flex-direction: row !important;
        padding-bottom: 10px;
        border-bottom: 1px solid #F3F3F6 !important;
    }
    .food__card-img {
        min-width: 135px;
        width: 135px;
        height: 135px;
    }
    .food__img {
        width: 100% !important;
    }
    .food__info-parent {
        margin-left: 8px;
        display: flex;
        align-items: center;
    }
    .food__info-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 !important;
    }
    .food__title {
        margin-bottom: 4px !important;
    }
    .food__text {
        margin-bottom: 0 !important;
    }

    .food__price-body {
        display: none;
    }
    .mobile__food-choose {
        display: block;
    }
    
    /* DRINK SECTION  */

    .drink__section {
        padding: 10px 16px;
    }
    .drink__section-header {
        font-size: 24px;
        margin-bottom: 14px;
    }
    .drink__col {
        flex: 0 0 auto;
        width: 100% !important;
    }
    .drink__card {
        flex-direction: row !important;
        padding-bottom: 10px;
        border-bottom: 1px solid #F3F3F6 !important;
        background: transparent !important;
    }
    .drink__card-img {
        width: 135px;
        max-width: 135px;
        height: 135px;
        margin-right: 8px;
    }
    .drink__img {
        width: 100%;    
    }
    .drink__price-body {
        display: none;
    }
    .drink__title {
        font-size: 18px;
    }
    .drink__text {
        font-size: 12px;
    }
    .mobile__drink-choose {
        display: block;
        margin-top: 10px;
    }
    .mobile__drink-choose-btn {
        padding: 8.5px 14px;
        background: #FFF0E5;
        color: #C75200;
        font-size: 12px;
        border-radius: 10px;
        border: none;
    }

    .drink__info-parent {
        margin-left: 8px;
        display: flex;
        align-items: center;
    }
    .drink__info-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 !important;
    }
    .drink__title {
        margin-bottom: 4px !important;
    }
    .drink__text {
        margin-bottom: 0 !important;
    }

    /* ORDER SECTION  */

    .order__section {
        padding: 60px 16px;
    }
    .order__title {
        font-size: 24px;
    }
    .order__leave-phone {
        font-size: 18px;
        margin-top: 12px;
    }
    .order__phone-div {
        flex-direction: column;
    }
    .order__phone-child-div {
        width: 100%;
    }
    .order__phone-send {
        width: 100%;
        margin-top: 20px;
        height: 46px;
    }
    .order__phone {
        margin-top: 20px;
        font-size: 18px;
    }
    /* PRIVILEGES SECTION  */
    .privileges__section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}